*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Public Sans';
  }
  
  :root{
  --DarkBlue: hsl(233, 26%, 24%);
  --LimeGreen: hsl(136, 65%, 51%);
  --BrightCyan: hsl(192, 70%, 51%);
  --GrayishBlue: hsl(233, 8%, 62%);
  --LightGrayishBlue: hsl(220, 16%, 96%);
  --VeryLightGray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);
  }
      .attribution { font-size: 11px; text-align: center; background-color: var(--DarkBlue);}
      .attribution a { color: hsl(228, 45%, 44%); }
  
@media only screen and (max-width: 600px) {
  
  header ul, header button{
    display: none;
  }
  
  header{
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fff;
    position: sticky;
     z-index: 2;
  }
  .overlay{
    display: flex;
    justify-content: center;
    justify-content: space-around;
     z-index: 10;
     position: absolute;
     width: 88%;
     background-color: var(--VeryLightGray);
     margin: 1rem;
     color: var(--DarkBlue);
  }
  .overlay ul li{
    padding: 0.8rem 0;
    cursor: pointer;
    background-color: var(--White);
  }
  .overlay.closed{
    display: none;
  }
  
   section, footer{
    margin: 1rem 0;
  }
        
      ul{
        list-style-type: none;
        margin: 0.5rem 0;
      }
  
      button{
        margin: 0.5rem 0;
        padding: 0.8rem 1.2rem;
        border-radius: 26px;
        border: none;
        color: #fff;
        font-weight: bold;
        background: linear-gradient(90deg, var(--LimeGreen), var(--BrightCyan));
        cursor: pointer;
      }
      .hamburger.isClosed{
        display: none;
        cursor: pointer;
      }
      .hamburger{
        cursor: pointer;
      }
      #bg-pc{
        display: none;
      }
      #mockUp{
        position: relative;
         z-index: 1;
         margin-top: -5em;
      }
      #bg-mobile{
        position: absolute;
      }
  
      main, section{
        text-align: center;
      }
  
      h1, h2{
        color: var(--DarkBlue);
        font-weight: 400;
        padding: 0.5rem 0;
      }
      h2{
        padding: 1rem;
        padding-top: 2.5rem;
      }
      h2, h4, h6{
        margin: 0.5rem;
        color: var(--DarkBlue);
        font-weight: 400;
      }
      p{
        color: var(--GrayishBlue);
        font-weight: 300;
        font-size: 15px;
        margin: 1rem;
      }
  
      section{
        background-color: var(--LightGrayishBlue);
      }
      #card p{
        padding-bottom: 1.5rem;
      }
  
      article{
        border: 1px solid auto;
        margin: 0.5rem;
        background-color: var(--VeryLightGray);
      }
      article h2{
        text-align: center;
      }
      aside{
        border-radius: 12px;
        margin: 2rem 0.5rem;
        background-color: var(--White);
      }
      aside img{
        border-top-right-radius: 12px;
        border-top-left-radius: 12px;
        margin-bottom: 1rem;
      }
      aside span{
        font-size: 9px;
        color: var(--GrayishBlue);
        margin: 0.5rem;
        padding: 0.2rem 0;
      }
      aside h6{
        font-size: 16px;
        color: var(--DarkBlue);
      }
      aside p{
        font-size: 12px;
        color: var(--GrayishBlue);
        margin: 0.5rem;
        padding-bottom: 1rem;
      }
  
      footer{
        background-color: var(--DarkBlue);
        text-align: center;
        padding: 0.2rem;
        color: #fff;
      }
  
      footer img{
        margin: 1rem 0;
      }
      .links, .icons{
        cursor: pointer;
      }
      .icons img{
        margin: 0 5px;
      }
      .links ul li{
        margin: 15px 0;
        color: var(--LightGrayishBlue);
        font-size: 14px;
      }
      footer button{
        margin: 1rem 0;
      }
      button:hover{
        opacity: 0.5;
      }
      aside h6:hover{
        color: var(--LimeGreen);
        cursor: pointer;
      }
      footer .icons img:hover{
        background-color: var(--LimeGreen);
        color: var(--LimeGreen);
        cursor: pointer;
      }
      footer li:hover{
        color: var(--LimeGreen);
        cursor: pointer;
      }
    }
  
    /*BREAKPOINT: 600PX MAX */
    @media only screen and (min-width:600px){
      h1, h2, h4, h6{
        color: var(--DarkBlue);
      }
  
      header{
    padding: 0.8rem 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    position: sticky;
     z-index: 2;
     width: 100%;
  }
  header img{
    width: 80px;
    padding: 1rem 0;
    position: absolute;
    left:10%;
  }
  header ul{
    display: flex;
    align-items: center;
    font-size: 14px;
        list-style-type: none;
        margin: 0.5rem 0;
        color: var(--GrayishBlue);
         margin-left: 1.5rem;
         margin-right: 0.5rem;
      }
      header ul li{
        margin: 0 0.5rem;
      }
     
      header button{
        position: absolute;
        right: 2%;
      }
      main{
        background-color: var(--VeryLightGray);
        margin-bottom: 0;
        height: 70vh;
      }
      .bg{
        float: right;
        width: 45%;
        background-color: var(--VeryLightGray);
      }
  
      #bg-mobile{
        display: none;
      }
      #bg-pc{
        position: absolute;
        width: 45%;
      }
      #mockUp{
        width: 85%;
        position: relative;
        z-index: 1;
        margin-top: -5rem;
      }
  
      .overlay{
        display: none;
      }
      .hamburger{
        display: none;
      }
      .mainText{
        padding: 1rem;
        padding-top: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .mainText p{
        color: var(--GrayishBlue);
      }
      .mainText h1, .mainText p, .mainText button{
        margin: 1.5rem;
        font-weight: 400;
      }
      .mainText button{
        width: 150px;
      }
      button{
        margin: 0.5rem 0;
        padding: 0.8rem 1.2rem;
        border-radius: 26px;
        border: none;
        color: #fff;
        font-weight: bold;
        background: linear-gradient(90deg, var(--LimeGreen), var(--BrightCyan));
        cursor: pointer;
      }
      section{
        background-color: var(--LightGrayishBlue);
        clear: right;
        height: 60vh;
        padding: 1rem 0;
        margin: 1rem 0;
        overflow: hidden;
      }
      section > h2{
        font-weight: 400;
        padding-top: 2rem;
      }
     
      section > * {
        margin: 1rem 2rem;
      }
      .cards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-content: space-around;
      }
      #card{
        margin: 1rem;
        padding: 0.5rem;
      }
      #card p{
        padding-bottom: 1rem;
      }
      #card img, #card h4, #card p{
        padding: 0.5rem 0;
      }
  
      article{
        margin: 1rem 1.5rem;
        height: 60vh;
      }
      .article{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-content: space-around;
      }
      article h2{
        color: var(--DarkBlue);
        font-weight: 400;
        padding: 0.5rem 0;
      }
      aside{
        background-color: var(--White);
        margin: 1rem;
        padding: 0.5rem;
      }
        aside img{
        max-height: 12rem;
        min-height: 2rem;
        border-top-right-radius: 12px;
        border-top-left-radius: 12px;
        margin-bottom: 1rem;
      }
      aside span{
        font-size: 9px;
        color: var(--GrayishBlue);
        padding: 0.5rem 0;
      }
      aside h6{
        font-size: 14px;
        padding: 0.5rem 0;
        color: var(--DarkBlue);
      }
      aside p{
        font-size: 12px;
        color: var(--GrayishBlue);
        padding-bottom: 1rem;
      }    
      footer{
        background-color: var(--DarkBlue);
        text-align: center;
        padding: 0.2rem;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 30vh;
      }
  
      .contact img{
        margin: 1.5rem 0;
      }
      .links, .icons{
        cursor: pointer;
      }
      .icons img{
        margin: 1rem 5px;
      }
      .links ul li{
        margin: 15px 0;
        color: var(--LightGrayishBlue);
        font-size: 14px;
        list-style: none;
      }
      .links{
        display: flex;
      }
      .list-one, .list-two{
        margin: 1rem;
      }
      footer button{
        margin: 1rem 0;
      }
    .credit p{
      color: var(--GrayishBlue);
      font-size: 12px;
    }
    header ul li:hover{
        color: var(--DarkBlue);
        cursor: pointer;
        border-bottom: 1px solid var(--LimeGreen);
      }
      button:hover{
        opacity: 0.5;
      }
      aside h6:hover{
        color: var(--LimeGreen);
        cursor: pointer;
      }
      footer .icons img:hover{
        background-color: var(--LimeGreen);
        color: var(--LimeGreen);
        cursor: pointer;
      }
      footer li:hover{
        color: var(--LimeGreen);
        cursor: pointer;
      }
    }